@media only screen and (min-width: 992px)  {
    @font-face {
        font-family: 'Lauren';
        src: local('Lauren'), url('./src/fonts/Lauren.woff') format('woff2');
        font-weight: normal;
        font-style: normal;
      }

.Main_container{
    background-color: #ece7e1;
    width: 100vw;
    height: 2627px;
    display: grid;
    grid-template-columns: 13% 58% 45%;
    grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-template-areas: 
    ". about st1"
    ". . img"
    ". . st2"
    ". steven st3"
    ". cusp st4"
    ". fast st5"
    ". design st6"
    ". . ."
    ". there ."
    ". . st7"
    ". . st10"
    ". resonates ."
    ". exp ."
    ". degree st8"
    ". within ."
    ". . ."
    ". contac st9"
    ". skill ."
    ". ui ."
    ". ico ."
    ;
}
.About{
    display: flex;
    justify-content: left;
    align-items: center;

grid-area: about;
width: 961px;
height: 271px;
flex-shrink: 0;
color: #1a1818;
font-size: 230px;
font-family: Lauren;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 11.5px;
overflow: hidden;
}
.About>p{
    animation: moverAbajoArriba 2s ease forwards;
}
@keyframes moverAbajoArriba {
    0% {
        transform: translateY(300px); /* Posición inicial: abajo */
    }
    100% {
        transform: translateY(0); /* Movimiento hacia arriba hasta el punto original */
    }
}
.Steven{
width: 519px;
height: 169px;
flex-shrink: 0;    
color: #1a1818;
    font-family: Jomolhari;
    font-size: 38px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1.9px;
    grid-area: steven;    
}
.contenedorimg{

    width: 550px;
    height: 450px;
    grid-area: img;
}
.contenedor__img{
width: 357px;
height: 543px;
flex-shrink: 0;

animation: zoomOut 0.4s ease-in-out;
}
@keyframes zoomOut {
    from {
      transform: scale(0);
    }
    to {
      transform: scale(1);
    }
  }
.The_cusp{
width: 28.906vw;
height: 96px;
flex-shrink: 0;
color: #1a1818;
font-family: 'Montserrat', sans-serif;
font-size: 0.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: cusp;
margin-top: 30px;
letter-spacing: .5px;
}
.Fast_forward{
width:28.906vw;
height: 96px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size:0.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: fast;
margin-top: 40px;
letter-spacing: .5px;
}
.Product_design{
width: 28.906vw;
height: 192px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size:0.881vw;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: design;
margin-top: 65px;
letter-spacing: .5px;
}
.There_is{
width: 23.438vw;
height: 225px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 28px;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: there;
margin-top: 10.073vw;
letter-spacing: .5px;
margin-top: 20px;
}
.This_resonates{
width: 29.271vw;
height: 103px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size:0.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: resonates;
margin-top: 70px;
letter-spacing: .5px;
}
.experience{
width: 14.844vw;
height: 41px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: exp;
margin-top: 65px;
letter-spacing: .5px;
}
.degree{
width: 30.365vw;
height: 79px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size:0.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: degree;
margin-top: 40px;
letter-spacing: .5px;
}
.within{
width: 364px;
height: 198px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size:0.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: within;

}
.Contact_Me{
width: 198px;
height: 59px;
border-radius: 48px;
background: #1A1818;
grid-area: contac;
color: white;
transition: width 0.3s ease;
font-size: 20px;
letter-spacing: .5px;
}
.Contact_Me:hover{
    width: 300px;
}

.skills{
width: 285px;
height: 41px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: skill;
}
.UI{
width: 584px;
height: 113px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size:0.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
grid-area: ui;
}
.Container_icons{
width: 30.365vw;
width: 80px;
grid-area: ico;
display: flex;
margin-top:0.781vw;
margin-right: 7px;

}
.Container_icons>img{
    width: 40px;
    height: 40px;
    margin-left: 7px;
}



/**/
.star1{
    grid-area: st1;
    width: 30px;
    height: 29px;
    flex-shrink: 0;
   position: relative;
   right: 800px;
    
    }
    .star2{
        grid-area: st2;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: 400px;
    }
    .star3{
        grid-area: st3;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: 100px;
    }
    .star4{
        grid-area: st4;
        width: 34px;
    height: 34px;
    flex-shrink: 0;
    position: relative;
    right: 720px;
    }
    .star5{
        grid-area: st5;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: 900px;
    }
    .star6{
        grid-area: st6;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: 50px;
    }
    .star7{
        grid-area: st7;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: 650px;
    }
    .star8{
        grid-area: st8;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: -40px;
    }
    .star9{
        grid-area: st9;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: 600px;
    }
    .star10{
        grid-area: st10;
        width: 19px;
    height: 18px;
    flex-shrink: 0;
    position: relative;
    right: 200px;
    }
    /*KeyFrames*/
    @keyframes moverIzquierda {
        to {
            transform: translateX(-100px); /* Mueve hacia la izquierda */
        }
    }
    @keyframes moverDerecha {
        to {
            transform: translateX(100px); /* Mueve hacia la derecha */
        }
    }
    /* Definición de la animación arriba */
    @keyframes moverArriba {
        to {
            transform: translateY(-200px); /* Mueve hacia arriba */
        }
    }
    /* Definición de la animación abajo */
    @keyframes moverAbajo {
        to {
            transform: translateY(100px); /* Mueve hacia abajo */
        }
    }
    /*Diagonales*/
    @keyframes moverDiagonal1 {
        to {
            transform: translate(-100px, -100px); /* Mueve hacia arriba-izquierda */
        }
    }
    /* Definición de la animación diagonal 2 (arriba-derecha) */
    @keyframes moverDiagonal2 {
        to {
            transform: translate(350px, -350px); /* Mueve hacia arriba-derecha */
        }
    }
    /* Definición de la animación diagonal 3 (abajo-izquierda) */
    @keyframes moverDiagonal3 {
        to {
            transform: translate(-100px, 100px); /* Mueve hacia abajo-izquierda */
        }
    }
    /* Definición de la animación diagonal 4 (abajo-derecha) */
    @keyframes moverDiagonal4 {
        to {
            transform: translate(250px, 250px); /* Mueve hacia abajo-derecha */
        }
    }
}