main{
    background: #ECE7E1;
    
}
body, html {
    

      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
a{
    font-size: inherit;
    text-decoration: none; /* Quitar subrayado */
            color: inherit; /* Usar el color heredado del elemento padre */
            cursor: pointer; 
}




  body::-webkit-scrollbar {
    width: 7px;
                   /* width of the entire scrollbar */
  }
  
  body::-webkit-scrollbar-track {
    background: #ece7e1;        /* color of the tracking area */
       /* color of the tracking area */
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: #1A1818;    /* color of the scroll thumb */
         /* roundness of the scroll thumb */
    border: 3px solid #1A1818;  /* creates padding around scroll thumb */
  }