/*HeaderQueryTablet 100% Complete*/
    @media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: portrait) {
        /* Tus estilos para tabletas en modo retrato */
      
    main{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 13% 87%;
        grid-template-rows: 100%;
        grid-template-areas: "i de";
    }
    /*Contend*/
    .Apres{
        height: 100vh;
        width: 100%;
        grid-area: de;
        margin-right: 200px;
        display: grid;
        grid-template-columns:5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% ;
        grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-template-areas:
         ". . . . . . . . . lid . . . . . . . . . ."
         ". st1 . . . . . . . . . . . . . . . . . ."
         ". . . . . . . st2 . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . st10 . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . st3 . . . . ."
         "hello hello hello hello . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . st7 . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . st8 . . ."
         ". . . . . . . . st4 . . . . . . . . . . ."
         "sb . . . . . git . . . . . . . . . . . . ."
         "lo . . . ci . . . . . . . . . . . . . . ."
         "pr pr pr . . . . . . . . . . . . . . . . ."
         "cu . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . da . . . st6 . . . . st9 . . ."
         ". . st5 . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
    }
    .Contenedor__hello{
        grid-area: hello;
        width: 1200px;
        height: 271px;
        overflow: hidden;
        display: flex;
        justify-content: left;
        align-items: center;
    }
    @keyframes blurAnimation {
        0% {
          filter: blur(0);
        }
        50% {
          filter: blur(5px);
        }
        100% {
          filter: blur(0);
        }
      }
.Hello{
overflow: hidden;
animation: moverAbajoArriba 2s ease forwards;
color: #1A1818;
width: 1200px;
flex-shrink: 0;
font-family: Jomolhari;
font-size: 14.979vh;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 11.5px;
}
.h3__StevenBlanco{
grid-area: sb;
width: 500px;
height: 51px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 2.25vh;
font-style: normal;
font-weight: 400;
line-height: normal;
animation: blurAnimation 1.2s forwards;
}
.h4__Looking{ 
grid-area: lo;
width: 18.875vh;
height: 29px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 1.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
animation: blurAnimation 1.2s forwards;
}
.Product{ 
grid-area: pr;
width: 18.875vh;
height: 96px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 1.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
animation: blurAnimation 1.2s forwards;
}
.Current{ 
grid-area: cu;
width: 300px;
height: auto;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 1.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #000;
margin-top: 15px;
animation: blurAnimation 1.2s forwards;
}
.Detail{
 text-decoration: underline;
}
.Detail:hover{
    text-decoration: line-through;
}
.git__header{
    grid-area: git;
    margin-left: 18px;
    width: 4.604vw;
    height: 4.396vw;
    animation: blurAnimation 1.2s forwards;
}
.circulo{
margin-top: 10px;
grid-area: ci;
width: 0.821vw;
height: 0.821vw;
flex-shrink: 0;
animation: parpadeo 1s ease-in-out infinite;
background-color: #000;
stroke-width: 1px;
border-radius: 50%;
filter: blur(0.6499999761581421px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
animation: blurAnimation 1.2s forwards;
}
@keyframes parpadeo {
    25%, 100% {
        opacity: 1; /* Comienzo y fin: opacidad completa */
    }
    50% {
        opacity: 0.4; /* Mitad del tiempo: opacidad nula */
    }
}
.liquid{
    grid-area: lid;
    width: 55.073vw;;
    height: 55.073vw;
    flex-shrink: 0;
    position: absolute;
    right: 5px; /* Inicialmente, la imagen está en el borde izquierdo */
    transition: left 0.5s ease;
    animation: blurAnimation 1.2s forwards;
        }
.star1{
grid-area: st1;
width: 30px;
height: 29px;
flex-shrink: 0;
animation: moverDerecha 250s infinite alternate;
}
.star2{
    grid-area: st2;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverDiagonal3 250s infinite alternate;
}
.star3{
    grid-area: st3;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverDiagonal3 250s infinite alternate;
}
.star4{
    grid-area: st4;
    width: 34px;
height: 34px;
flex-shrink: 0;
animation: moverDerecha 250s infinite alternate;
}
.star5{
    grid-area: st5;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverArriba 250s infinite alternate;
}
.star6{
    grid-area: st6;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverDiagonal1 250s infinite alternate;
}
.star7{
    grid-area: st7;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverIzquierda 250s infinite alternate;
}
.star8{
    grid-area: st8;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverIzquierda 250s infinite alternate;
}
.star9{
    grid-area: st9;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverArriba 250s infinite alternate;
}
.star10{
    grid-area: st10;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverAbajo 250s infinite alternate;
}
/*KeyFrames*/
@keyframes moverIzquierda {
    to {
        transform: translateX(-200px); /* Mueve hacia la izquierda */
    }
}
@keyframes moverDerecha {
    to {
        transform: translateX(200px); /* Mueve hacia la derecha */
    }
}
/* Definición de la animación arriba */
@keyframes moverArriba {
    to {
        transform: translateY(-200px); /* Mueve hacia arriba */
    }
}
/* Definición de la animación abajo */
@keyframes moverAbajo {
    to {
        transform: translateY(200px); /* Mueve hacia abajo */
    }
}
/*Diagonales*/
@keyframes moverDiagonal1 {
    to {
        transform: translate(-100px, -100px); /* Mueve hacia arriba-izquierda */
    }
}
/* Definición de la animación diagonal 2 (arriba-derecha) */
@keyframes moverDiagonal2 {
    to {
        transform: translate(250px, -250px); /* Mueve hacia arriba-derecha */
    }
}
/* Definición de la animación diagonal 3 (abajo-izquierda) */
@keyframes moverDiagonal3 {
    to {
        transform: translate(-200px, 200px); /* Mueve hacia abajo-izquierda */
    }
}
/* Definición de la animación diagonal 4 (abajo-derecha) */
@keyframes moverDiagonal4 {
    to {
        transform: translate(250px, 250px); /* Mueve hacia abajo-derecha */
    }
}
@keyframes moverAbajoArriba {
    0% {
        transform: translateY(300px); /* Posición inicial: abajo */
    }
    100% {
        transform: translateY(0); /* Movimiento hacia arriba hasta el punto original */
    }
}
.divsArrow{
    grid-area: da;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    position: relative;
}
.arrowUno{
    animation: moverYDesvanecer 2s infinite;
    width: 17px;
}
.arrowDos{
    animation: moverYDesvanecer 2s infinite;
    width: 17px;
}
.arrowTres{
    animation: moverYDesvanecer 2s infinite;
    width: 17px;
}
@keyframes moverYDesvanecer {
    0% {
        transform: translateY(0); /* Posición inicial: sin movimiento vertical */
        opacity: 1; /* Opacidad completa */
    }
    50% {
        transform: translateY(100px); /* Movimiento hacia abajo */
    }
    100% {
        transform: translateY(100px); /* Mantiene la posición hacia abajo */
        opacity: 0; /* Opacidad nula */
    }
}
    /*Navegador 100% Completo*/
    nav{
        grid-area: i;
        width: 150px;
        height: 100vh;
        position: fixed;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-template-areas: 
        ". . ."
        ". s ."
        ". . ."
        ". . ."
        ". . ."
        ". l ."
        ". . ."
        ". w ."
        ". . ."
        ". g ."
        ". . ."
        ". . ."
        ". li ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". d ."
        ". . ."
        ;
    }
    .h2__Steven:hover{
        text-decoration-line: underline;
        transition: text-decoration 0.3s;
    }
    .h2__Steven{
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:s;
        color: #000;
        font-family: Jomolhari;
        font-size: 1.442vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .h2__linkedin:hover{
        text-decoration-line: line-through;
        transition: text-decoration 0.3s;
    }
    .h2__linkedin{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:l;
        color: #000;
        font-family: Jomolhari;
        font-size: 0.917vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .h2__whats:hover{
        text-decoration-line: line-through;
        transition: text-decoration 0.3s;
    }
    .h2__whats{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:w;
        color: #000;
        font-family: Jomolhari;
        font-size: 0.917vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .h2__github:hover{
        text-decoration-line: line-through;
        transition: text-decoration 0.3s;
    }
    .h2__github{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:g;
        color: #000;
        font-family: Jomolhari;
        font-size: 0.917vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    ._dos{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:d;
        color: #000;
        font-family: Jomolhari;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .line{
    grid-area: li;
    margin-left: 45%;
    height: 20.686vw;    
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px) and (orientation: landscape) {
    main{
        width: 100%;
        height: 100vh;
        display: grid;
        grid-template-columns: 13% 87%;
        grid-template-rows: 100%;
        grid-template-areas: "i de";
    }
    /*Contend*/
    .Apres{
        height: 100vh;
        width: 100%;
        grid-area: de;
        margin-right: 200px;
        display: grid;
        grid-template-columns:5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% ;
        grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-template-areas:
         ". . . . . . . . . lid . . . . . . . . . ."
         ". st1 . . . . . . . . . . . . . . . . . ."
         ". . . . . . . st2 . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . st10 . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . st3 . . . . ."
         "hello hello hello hello . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . st7 . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . st8 . . ."
         ". . . . . . . . st4 . . . . . . . . . . ."
         "sb . . . . . git . . . . . . . . . . . . ."
         "lo . . . ci . . . . . . . . . . . . . . ."
         "pr pr pr . . . . . . . . . . . . . . . . ."
         "cu . . . . . . . . . . . . . . . . . . ."
         ". . . . . . . da . . . st6 . . . . st9 . . ."
         ". . st5 . . . . . . . . . . . . . . . . ."
         ". . . . . . . . . . . . . . . . . . . ."
    }
    .Contenedor__hello{
        grid-area: hello;
        width: 1200px;
        height: 271px;
        overflow: hidden;
        display: flex;
        justify-content: left;
        align-items: center;
    }
.Hello{
overflow: hidden;
animation: moverAbajoArriba 2s ease forwards;
color: #1A1818;
width: 1200px;
flex-shrink: 0;
font-family: Jomolhari;
font-size: 14.979vh;
font-style: normal;
font-weight: 400;
line-height: normal;
letter-spacing: 11.5px;
}

.h3__StevenBlanco{
grid-area: sb;
width: 500px;
height: 51px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 2.25vh;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.h4__Looking{
grid-area: lo;
width: 18.875vh;
height: 29px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 1.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Product{ 
grid-area: pr;
width: 18.875vh;
height: 96px;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 1.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
}
.Current{
grid-area: cu;
width: 300px;
height: auto;
flex-shrink: 0;
color: #000;
font-family: Jomolhari;
font-size: 1.781vw;
font-style: normal;
font-weight: 400;
line-height: normal;
color: #000;
margin-top: 15px;
}
.Detail{
 text-decoration: underline;
}
.Detail:hover{
    text-decoration: line-through;
}
.git__header{
    grid-area: git;
    margin-left: 18px;
    width: 4.604vw;
    height: 4.396vw;
}
.circulo{
margin-top: 10px;
grid-area: ci;
width: 0.821vw;
height: 0.821vw;
flex-shrink: 0;
animation: parpadeo 1s ease-in-out infinite;
background-color: #000;
stroke-width: 1px;
border-radius: 50%;
filter: blur(0.6499999761581421px) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
@keyframes parpadeo {
    25%, 100% {
        opacity: 1; /* Comienzo y fin: opacidad completa */
    }
    50% {
        opacity: 0.4; /* Mitad del tiempo: opacidad nula */
    }
}
.liquid{
    grid-area: lid;
    width: 55.073vw;;
    height: 55.073vw;
    flex-shrink: 0;
    position: absolute;
    right: 0px; /* Inicialmente, la imagen está en el borde izquierdo */
    transition: left 0.5s ease;
        }
.star1{
grid-area: st1;
width: 30px;
height: 29px;
flex-shrink: 0;
animation: moverDerecha 250s infinite alternate;
}
.star2{
    grid-area: st2;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverDiagonal3 250s infinite alternate;
}
.star3{
    grid-area: st3;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverDiagonal3 250s infinite alternate;
}
.star4{
    grid-area: st4;
    width: 34px;
height: 34px;
flex-shrink: 0;
animation: moverDerecha 250s infinite alternate;
}
.star5{
    grid-area: st5;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverArriba 250s infinite alternate;
}
.star6{
    grid-area: st6;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverDiagonal1 250s infinite alternate;
}
.star7{
    grid-area: st7;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverIzquierda 250s infinite alternate;
}
.star8{
    grid-area: st8;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverIzquierda 250s infinite alternate;
}
.star9{
    grid-area: st9;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverArriba 250s infinite alternate;
}
.star10{
    grid-area: st10;
    width: 19px;
height: 18px;
flex-shrink: 0;
animation: moverAbajo 250s infinite alternate;
}
/*KeyFrames*/
@keyframes moverIzquierda {
    to {
        transform: translateX(-700px); /* Mueve hacia la izquierda */
    }
}
@keyframes moverDerecha {
    to {
        transform: translateX(800px); /* Mueve hacia la derecha */
    }
}
/* Definición de la animación arriba */
@keyframes moverArriba {
    to {
        transform: translateY(-600px); /* Mueve hacia arriba */
    }
}
/* Definición de la animación abajo */
@keyframes moverAbajo {
    to {
        transform: translateY(600px); /* Mueve hacia abajo */
    }
}
/*Diagonales*/
@keyframes moverDiagonal1 {
    to {
        transform: translate(-100px, -100px); /* Mueve hacia arriba-izquierda */
    }
}
/* Definición de la animación diagonal 2 (arriba-derecha) */
@keyframes moverDiagonal2 {
    to {
        transform: translate(550px, -550px); /* Mueve hacia arriba-derecha */
    }
}
/* Definición de la animación diagonal 3 (abajo-izquierda) */
@keyframes moverDiagonal3 {
    to {
        transform: translate(-700px, 700px); /* Mueve hacia abajo-izquierda */
    }
}
/* Definición de la animación diagonal 4 (abajo-derecha) */
@keyframes moverDiagonal4 {
    to {
        transform: translate(550px, 550px); /* Mueve hacia abajo-derecha */
    }
}
@keyframes moverAbajoArriba {
    0% {
        transform: translateY(300px); /* Posición inicial: abajo */
    }
    100% {
        transform: translateY(0); /* Movimiento hacia arriba hasta el punto original */
    }
}
.divsArrow{
    grid-area: da;
    display: flex;
    flex-direction: column;
    width: 50px;
    height: 50px;
    margin-left: 30px;
    position: relative;
}
.arrowUno{
    animation: moverYDesvanecer 2s infinite;
    width: 17px;
}
.arrowDos{
    animation: moverYDesvanecer 2s infinite;
    width: 17px;
}
.arrowTres{
    animation: moverYDesvanecer 2s infinite;
    width: 17px;
}
@keyframes moverYDesvanecer {
    0% {
        transform: translateY(0); /* Posición inicial: sin movimiento vertical */
        opacity: 1; /* Opacidad completa */
    }
    50% {
        transform: translateY(100px); /* Movimiento hacia abajo */
    }
    100% {
        transform: translateY(100px); /* Mantiene la posición hacia abajo */
        opacity: 0; /* Opacidad nula */
    }
}
    /*Navegador 100% Completo*/
    nav{
        grid-area: i;
        width: 150px;
        height: 100vh;
        position: fixed;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
        grid-template-areas: 
        ". . ."
        ". s ."
        ". . ."
        ". . ."
        ". . ."
        ". l ."
        ". . ."
        ". w ."
        ". . ."
        ". g ."
        ". . ."
        ". . ."
        ". li ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". . ."
        ". d ."
        ". . ."
        ;
    }
    .h2__Steven:hover{
        text-decoration-line: underline;
        transition: text-decoration 0.3s;
    }
    .h2__Steven{
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:s;
        color: #000;
        font-family: Jomolhari;
        font-size: 1.442vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .h2__linkedin:hover{
        text-decoration-line: line-through;
        transition: text-decoration 0.3s;
    }
    .h2__linkedin{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:l;
        color: #000;
        font-family: Jomolhari;
        font-size: 0.917vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .h2__whats:hover{
        text-decoration-line: line-through;
        transition: text-decoration 0.3s;
    }
    .h2__whats{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:w;
        color: #000;
        font-family: Jomolhari;
        font-size: 0.917vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .h2__github:hover{
        text-decoration-line: line-through;
        transition: text-decoration 0.3s;
    }
    .h2__github{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:g;
        color: #000;
        font-family: Jomolhari;
        font-size: 0.917vw;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
   
    ._dos{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 121px;
        height: 29px;
        transform: rotate(-90deg);
        flex-shrink: 0;
        grid-area:d;
        color: #000;
        font-family: Jomolhari;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    .line{
    grid-area: li;
    margin-left: 45%;
    height: 20.686vw;    
    }
  }